.anh{
    width: 25%;
    float: left;
}
.sanpham{
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding: 5px;
    text-align: center;
    position: relative;
}
.sanpham>.tensanpham{
    font-variant: small-caps;
    color: orangered;
}
.sanpham>.img{
    
    max-width: 85%;
    height: 150px;
    margin-bottom: 10px;
}
.sanpham>.giatien{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: Impact;
    font-size: 25px;
    color: red;
}
.sanpham>.giatien>p{
   
    text-align: center;
}
h3{
    text-align: left;
    font-size: 25px;
}
h2{
    text-align: center;
    font-size: 40px;
}
